* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}
.main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.25);
}
.container{
  margin-top: 20px;
  background-color: rgb(255, 255, 255, 0.3);
  border-radius: 20px;
}
h1 {
  margin: 50px;
  text-align: center;
  font-size: 50px;
}
form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  flex-wrap: wrap;
}
span {
  padding: 0 30px;
  font-size: 20px;
}
input {
  font-size: 20px;
  height: 30px;
}
#show-btn {
  width: 100px;
  padding: 5px 10px;
  margin-top: -10px;
  font-size: 20px;
  margin-left: 20px;
  border: none;
  outline: none;
}

.error {
  font-size: 2rem;
  color: rgba(228, 50, 50, 0.8);
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
#loading {
  margin-top: 30px;
  font-size: 3rem;
  color: rgb(42 226 255);
  text-shadow: 2px 2px 4px rgb(12 52 112);
}

.show-data {
  margin-top: 20px;
  padding: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.data-bg{
  width: 80%;
  background-color: rgb(255, 255, 255, 0.4);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
  border-radius: 20px;
}
.show-data .table {
  overflow-x: auto;
  margin: 20px 40px;
  width: 40%;
}
.show-data .chart {
  margin: 20px 40px;
  width: 40%;
}

@media (max-width: 940px) {
  body{
    padding: 0;
  }
  .container {
    width: 95%;
    padding-bottom: 20px;
  }
  h1 {
    font-size: 2.5rem;
    margin: 10px 0;
  }
  form {
    padding: 0 10px;
    flex-direction: column;
    margin: 0;
  }
  span {
    margin-top: 0;
    padding: 10px 0px;
  }
  input {
    height: 30px;
    width: 100%;
  }
  #show-btn {
    width: 100%;
    margin: 10px 0 0 0;
    
  }
  .error {
    font-size: 2rem;
  }
  #loading {
    font-size: 2rem;
  }

  .show-data {
    flex-direction: column;
    margin-top: 0px;
  }

  .show-data .table {
    overflow-x: auto;
    margin: 20px 0px;
    width: 90%;
  }
  .show-data .chart {
    margin: 20px 0px;
    width: 90%;
  }
}

@media (max-width: 396px) {
  h1 {
    font-size: 1.7rem;
  }
  .error {
    font-size: 1.3rem;
  }
}
table tr td{
  color: black;
}